<!-- <login-component></login-component> -->
<!--<study-component></study-component>-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
//            function logConsole() {
//                console.log("sfsdfsd");
//            }
//            function stickyNav() {
//
//                if (window.pageYOffset > 20) {
//                    var x = document.getElementById('headerNav');
//                    x.className = "navbar navbar-default navbar-fixed-top";
//                } else if (window.pageYOffset <= 20) {
//                    var x = document.getElementById('headerNav');
//                    x.className = "navbar navbar-default";
//                }
//            }
//            window.onload = stickyNav;
        </script>
    </head>
    <body>

    <!--<study-component></study-component>-->
    <!--<body on-scroll="logConsole()">-->
    <header-component></header-component>
    <!--<button type="button" class="btn btn-primary" onclick="{{logConsole()}}">Click Me</button>-->
    <ann-component></ann-component>
    <search-component></search-component>
    <body-component></body-component>
    <footer-component></footer-component>


</body>
</html>



