<div class="search-container container-fluid">
    <div class="row-container row">
        <div class="col-sm-2"></div>

        <div class="center-container col-sm-8 ">
            <input class="search-textbox" data-role="tagsinput" (keyup.enter)="onKeyUpEnter($event)" type="text" placeholder="Nhập câu cần tìm kiếm...">
            <button type="button" class="search-btn btn btn-success btn-lg">
                <span class="glyphicon glyphicon-search"></span><span class="hidden-xs hidden-sm">Tìm</span>
            </button>
            <!--<p id="search-results"></p>-->
        </div>
<!--data-role="tagsinput"-->
        <div class="col-sm-2"></div>
    </div>
</div>